<html>
<head>

<style TYPE="text/css">
<!--a{text-decoration:none}//--></style>

<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Comments01</title>



<style type="text/css">
<!--
.text {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strTextColour %>}
.bold {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strTextColour %>; font-weight: bold;}
a {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strLinkColour %>}
a:hover {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strHoverLinkColour %>}
a:visited {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strVisitedLinkColour %>}
a:visited:hover {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strHoverLinkColour %>}
-->
</style>
</head>

<body bgcolor="e8e5dc" text="black" link="black" vlink="black" alink="black">



<font face="Tahoma" color="black" size="2">

<center>
3D Art<br>
<b>Kees Roobol</b><br>
The Hands of Time<br>

<table border="2" cellspacing="0" cellpadding="0">
<tr> 
<td><img align="top" src="thehandsoftime.jpg" width=540  height=386></td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" name="mfoot_first">
<tr> 
<td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('moca_home','','../mfoot_buts/mfoot_home.jpg',1)">
<img src="../mfoot_buts/mfoot_moca.jpg" width="61" height="20" border="0" name="moca_home"></a>
</td>

<td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('moca_home','','../mfoot_buts/mfoot_home.jpg',1)">
<img src="../mfoot_buts/mfoot_musofcompart.jpg" width="150" height="20" border="0"></a>
</td>

<td><a href="roobol02.htm" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('next','','../mfoot_buts/mfoot_next_over.jpg',1)"><img src="../mfoot_buts/mfoot_next.jpg" width="62" height="20" border="0" name="next"></a>
<td><font size="1">(1 of 10)</font></td>
</td>

</tr>
</table><p>

</center>

<blockquote><blockquote>

</font>

<font size=2>

Kees Roobol (Kees being short for Cornelis) is 48, married and Dutch. He lives in the Flemish part 
of Belgium while working in the French-speaking part. He is research scientist at a pharmaceutical company.
He has been rendering since he could hold a pencil, he thinks, but it became more serious in high school. 
He writes, "At the age of 17, I had to choose between art and science. I finally opted for science, 
since I reckoned that as a scientist I would still be able to make art in my spare time. 
The inverse would have been next to impossible. Art has remained a life-long hobby, though, 
and I have experimented with all kinds of techniques, such as oil paint, pastel, charcoal, pencil, 
but also photography and video. From 1995 to 2000 I went to some sort of an art school in the evenings
 (well, more a drawing class, actually) to improve my drawing skills, and to learn a bit more about 
art theory.<p>
"My main software packages are 
Bryce 5, Painter 7, Photoshop 4, Raydream 4 and Poser 3. 
An image usually starts fairly finished in my head...  Since most if not all of my textures are photographic, 
Photoshop is the first application to work with... Poser is a nice tool too, but I mostly use it to experiment 
with different poses in draft versions. For the final render I prefer real humans; these can be friends,
neighbours or actors at historical reconstructions or in historical museums...
In the second phase, the entire scene is built in Bryce...
And of course, once I have finished the resemblance to the original idea is usually only marginal.... 
About 100-150 hours of work for a single image are not exceptional, hence my productivity of 5-6 image 
per year."<p>

</blockquote></blockquote>

</font>

<font size=1>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-97W5QY3G15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-97W5QY3G15');
</script>
</body>
</html>

