<html>
<head>

<style TYPE="text/css">
<!--a{text-decoration:none}//--></style>

<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Christel Dall — MOCA: Museum of Computer Art</title>



<style type="text/css">
<!--
.text {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strTextColour %>}
.bold {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strTextColour %>; font-weight: bold;}
a {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strLinkColour %>}
a:hover {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strHoverLinkColour %>}
a:visited {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strVisitedLinkColour %>}
a:visited:hover {font-family: <% = strTextType %>; font-size: <% = intTextSize %>px; color: <% = strHoverLinkColour %>}
-->
</style>
</head>

<body bgcolor="e8e5dc" text="black" link="black" vlink="black" alink="black">
<font face="Tahoma" color="black" size="2">


<center>
Elements of Typography<br>
<b>Christel Dall</b><br>
Your Junk - My Treasure

<table border="2" cellspacing="0" cellpadding="0">
<tr> 
<td><img align="top" src="yourjunk1.jpg" width=451  height=600></td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" name="mfoot_first">
<tr> 
<td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('moca_home','','../mfoot_buts/mfoot_home.jpg',1)">
<img src="../mfoot_buts/mfoot_moca.jpg" width="61" height="20" border="0" name="moca_home"></a>
</td>

<td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('moca_home','','../mfoot_buts/mfoot_home.jpg',1)">
<img src="../mfoot_buts/mfoot_musofcompart.jpg" width="150" height="20" border="0"></a>
</td>


<td><a href="dall02.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('next','','../mfoot_buts/mfoot_next_over.jpg',1)"><img src="../mfoot_buts/mfoot_next.jpg" width="62" height="20" border="0" name="next"></a>
<td><font size="1">(1 of  16)</font></td>
</td>

</tr>
</table><p>

</center>

<blockquote><blockquote>


This is a re-installation of an exhibit previously available at MOCA
but now re-sequenced with a new image added. This re-installation seems
advisable because it gives the artist a major presence on the web that is not 
otherwise available.<p>

Christel Dall originally wrote, "I am a 'compulsive photographer', 
working as a photojournalist
for a small daily newspaper in Denmark. I have recently begun 
exploring the realm of digital art, after having digitally 
enhanced my photos for several years. I work with advertising too, 
and sell the odd print once in a while.
I was a hobby photographer for more than ten years before I 
turned pro, and I am self-taught both as a writer and photographer.
Born 1965, I am a single mother of a boy aged 5. 
I studied philosophy for six years and later multimedia design, 
but dropped out. I worked as a nursery gardener, cleaner and 
department store decorator. Generally I don´t like talking about myself. I´m not very interesting.
I pour a lot of emotions into my pictures, but ultimately the viewer 
adds his own content. 'We don´t see things as they are - we see them 
as we are.' (The Talmud)  Besides photography, I love to work with 
typography and to incorporate words as compositional elements in 
pictures. I can be everything from minimalist to surrealist 
depending on where the whim takes me. Adobe Photoshop is my preferred tool."<p>

The images here are cries of communication: letters, missives, messages from the heart.	
This is as close as graphics gets to autobiography.
 

</blockquote></blockquote>


</td>
<tr>
</table>

</body>
</html>

